<p>To reset your password, follow the instructions below. If you did not make
this request, simply ignore this email.</p>

<p>Click this link and it will take you to a page you can use to pick a new
password:</p>

<blockquote><%= link_to @link, @link %></blockquote>

<p>If the link does not work for you, try copying this URL and pasting it into
your browser:</p>

<pre>
  <%= @link %>
</pre>
